    <div class="span4">
      <h2>Subscriptions</h2>

      <div class="alert alert-info">
        Note: Subscriptions require SSL. They will not work on localhost.
      </div>

      {% if locationSubscriptionExists %}
      <form action="/" method="post">
        <input type="hidden" name="subscriptionId" value="locations">
        <input type="hidden" name="operation" value="deleteSubscription">
        <button class="btn btn-block btn-danger" type="submit">
          Unsubscribe from location updates
        </button>
      </form>
      {% else %}
      <form action="/" method="post">
        <input type="hidden" name="operation" value="insertSubscription">
        <input type="hidden" name="collection" value="locations">
        <button class="btn btn-block btn-success" type="submit">
          Subscribe to location updates
        </button>
      </form>
      {% endif %}
    </div>
